{
	"name": "response/<%= conf.get('contentDir') %>",
	"description": "My brilliant WordPress site",
	"extra": {
		"installer-paths": {
			"<%= conf.get('contentDir') %>/plugins/{$name}/": ["type:wordpress-plugin"],
			"<%= conf.get('contentDir') %>/themes/{$name}/": ["type:wordpress-theme"]
		} 
	},    
	"repositories":[
		{
			"type":"composer",
			"url":"http://wpackagist.org"
		}
	],
	"require": {
		"aws/aws-sdk-php":"*",
		"wpackagist-plugin/advanced-custom-fields":"*"
	},
	"autoload": {
		"psr-0": {
			"Acme": "src/"
		}
	}
}