<?php

define('DB_NAME', '<%= settings.get('dbName') %>');
define('DB_USER', '<%= settings.get('dbUser') %>');
define('DB_PASSWORD', '<%= settings.get('dbPass') %>');
define('DB_HOST', '<%= settings.get('dbHost') %>');
$table_prefix  = '<%= settings.get('tablePrefix') %>';
define('WP_DEBUG', false);
